<h2>My heroes</h2>
<ul class="heroes">
  <!-- directive ngfor to populate a list
  event binding to listen click event -->
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span>{{hero.name}}
    </a>
  </li>
</ul>

<!-- DELETED IN TOPIC 5 -->
<!-- dataflow from parent component to child component using property binding -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->

<!-- CODE MADE IN TOPIC 2 directive *ngIf to show hero details only when one has been clicked
<div *ngIf="selectedHero">
  /* interpolation and pipe example */
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      /* two-way binding */
      <input [(ngModel)]="selectedHero.name" placeholder="name"/>
    </label>
  </div>
</div> -->

